@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

#index {
  background-color: #000000;
}

#about {
  background-color: white;
}

nav {
  text-align: right;
  padding-bottom: 2em;
  font-family: 'Source Sans Pro', sans-serif;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
}

nav ul li:last-child {
  margin-right: 0;
}

ul li > a:link {
  color: black;
  text-decoration: none;
}

ul li > a:visited {
  color: grey;
  text-decoration: none;
}

ul li > a:hover,
ul li > a.active {
  color: black;
  background-color: white;
  text-decoration: none;
}

/*
ul li > a:active {
    color: black;
    background-color: white;
}

*/

#container {
  background-color: white;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

footer {
  background-color: transparent;
  width: 1165px;
}

.icons{
    display:inline-block;
    float: right;
    font-size: 0;
    color: black;
  }

a.icons:link {
  opacity: 0.5
}

a.icons:hover {
  opacity: 1
}

/*index.html */

#logo {
  display: block;
  margin: 0 auto;
  margin-top: -40px;
}

.entersite {
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  margin: 0 auto;
  margin-top:-200px;
}


h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 22pt;
}

p {
  font-family: sans-serif;
  font-size: 11pt;
}

#aboutme {
  float: right;
  width: 460px;
}

#aboutphoto {
  float: left;
  width: 460px;
}

/*resume.html */

#resumephoto {
  float: right;
  width: 460px;
}

#edutext {
  line-height: 2.25px;
}

main {
  float: left;
  width: 460px;
}


h2 {
  font-family: sans-serif;
}

h4 {
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}


li {
  font-family: sans-serif;
  font-size: 11pt;
}

article {
  padding-bottom: 0.05em;
}
