@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,900);

#index {
  background-color: #000000;
}

#about {
  background-color: white;
}

nav {
  word-spacing: 7px;
  padding-bottom: 2em;
  display: inline;
  float: right;
  }


  nav ul {
  list-style: none;
  text-align: right;
  display: inline;
  }

  nav ul li {
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  }


ul li > a:link {
  color: black;
  text-decoration: none;
}

ul li > a:visited {
  color: black;
  text-decoration: none;
}

ul li > a:hover,
ul li > a.active {
  color: #700000;
  text-decoration: none;
}


#container {
  background-color: white;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

footer {
  background-color: transparent;
  width: 1165px;
}

.icons{
    display:inline-block;
    float: right;
    font-size: 0;
    color: black;
  }

a.icons:link {
  opacity: 0.5
}

a.icons:hover {
  opacity: 1
}

/*index.html */

#logo {
  display: block;
  margin: 0 auto;
  margin-top: -40px;
}

.entersite {
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  margin: 0 auto;
  margin-top:-200px;
}


h1 {
  font-family: 'Slabo 27px', serif;
  font-size: 32px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}


#right {
  float: right;
  width: 460px;
}


main {
  float: left;
  width: 460px;
}


h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #700000;
  text-transform: uppercase;
}

#edutext {
  margin-top: 80px;
}


li {
  font-family: 'Source Sans Pro', sans-serif;
}

article {
  padding-bottom: 0.05em;
  float: left;
  width: 460px;
}
