@import url(http://fonts.googleapis.com/css?family=Oswald);

#index {
  background-color: #000000;
}

#logo {
  display: block;
  margin: 0 auto;
  margin-top: -40px;
}

.entersite {
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	text-align:center;
  text-decoration:none;
  text-transform:uppercase;
  margin: 0 auto;
  margin-top:-200px;
}

#animation {
    -moz-animation: fadein 8s 1; /* Firefox */
    -webkit-animation: fadein 8s 1; /* Safari and Chrome */
    -o-animation: fadein 8s 1; /* Opera */
    animation: fadein 8s 1;
}

/* Animation for Fade In */

@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* End Animation for Fade In */

#about {
  background-image: url("../img/dark_mosaic.png");
}

#container {
  background-color: white;
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  overflow: hidden
}

#aboutme {
  float: right;
  width: 460px;
}

#aboutphoto {
  float: left;
  width: 460px;
}

#resumephoto {
  float: right;
  width: 460px;
  margin-top: 100px;
}

#edutext {
  line-height: 2.25px;
}

img {
  display: block;
  margin: 0 auto;
  padding: 1em;
}

nav {
  text-align: center;
  font-family: Helvetica;
  padding-bottom: 2em;
}

main {
  float: left;
  width: 460px;
}

footer {
  background-color: transparent;
  width: 1165px;
}

h1 {
  font-family:'Oswald', sans-serif;
  font-size: 22pt;
}

h3 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
  font-size: 12pt;
}

li {
  font-family: sans-serif;
  font-size: 12pt;
}

/* Main Navigation */

#nav:link {
  color: white;
  text-decoration: none;
}

#nav:visited {
  color: white;
  text-decoration: none;
}

#nav:hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

#nav:active {
    color: black;
    background-color: white;
}

/* End Main Navigation */

/* Footer Social Media Icons */

.icons{
    display:inline-block;
    float: right;
    font-size: 0;
  }

a.icons:link {
  opacity: 0.5
}

a.icons:hover {
  opacity: 1
}

/* End Footer Social Media Icons */

/* Animation for Image Slider */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 309px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 300px;
    height: 400px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 50px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: 10px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6,
input#img-7:checked ~ .nav-dots label#img-dot-7,
input#img-8:checked ~ .nav-dots label#img-dot-8
{
	background: rgba(0, 0, 0, 0.8);
}

/* End Animation for Image SLider */
