@media (max-width: 320px) {

  #animation {
    border: 0;
    max-width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  #container {
    border: 0;
    width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  #aboutme {
    width: 320px;
  }

  #aboutphoto {
    max-width: 260px;
  }

  #resumephoto {
    max-width: 320px;
  }

  .mobile {
    display: none;
  }

  main {
    width:320px;
  }

  footer {
    display: none;
  }




}
