@media (max-width: 320px) {

  #index {
    width: 320px;
  }

  #about {
    width: 300px;
  }

  #container {
    border: 0;
    width: 300px;
  }

  #logo {
    width: 260px;
    padding-bottom: 10em;
  }

  img {
    margin: 0 auto;
  }

  .entersite {
    font-size:14px;
  }

  #aboutme {
    max-width: 304px;
  }

  #aboutphoto {
    width: 260px;
  }

  #resumephoto {
   width: 320px;
  }

  .mobile {
    display: none;
  }

  main {
    width:304px;
  }

  footer {
    display: none;
  }


}
