@media (max-width: 320px) {

  #index {
    width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  #container {
    border: 0;
    width: 320px;
    margin: 0;
    padding: 0.5em;
  }

  #logo {
    width: 260px;
    padding-bottom: 10em;
  }

  .entersite {
    font-size:14px;
  }

  #aboutme {
    width: 320px;
  }

  #aboutphoto {
    max-width: 260px;
  }

  #resumephoto {
    max-width: 320px;
  }

  .mobile {
    display: none;
  }

  main {
    width:320px;
  }

  footer {
    display: none;
  }


}
